$tablet-width: 768px;
$desktop-width: 1165px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width} ) {
    @content;
  }
}

@mixin gridarea($area-map) {
  grid-row-start: map-get($area-map, rowstart);
  grid-row-end: map-get($area-map, rowend);
  grid-column-start: map-get($area-map, colstart);
  grid-column-end: map-get($area-map, colend);
}
